:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1300px;
  width: 100%;
  padding: 2.5rem;
  margin: auto;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.container > form {
  width: 50%;
  margin: 2rem auto;
  display: flex;
  gap: 5rem;
  justify-content: center;
}

.formInput {
  padding: 1rem;
  width: 80%;
  border-radius: 5px;
  border: 2px solid gray;
  font-size: 1.3rem;
  /* background-color: dimgray; */
}

.formButton {
  width: 5rem;
  font-size: 1.3rem;
  cursor: pointer;
  letter-spacing: 0.123rem;
}

.todoContainer {
  width: 100%;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.todo {
  display: flex;
  width: 100%;
  margin: 0.5rem auto;
  justify-content: center;
  background-color: rgb(252, 219, 219);
  align-items: center;
}

.isCompleted {
  width: 2rem;
  height: 2rem;
  flex: none;
}

.todoTitle {
  width: 90%;
  padding: 0.5rem 2rem;
  font-size: 1.3rem;
}
.textcut {
  text-decoration: line-through;
  width: 90%;
  padding: 0.5rem 2rem;
  font-size: 1.3rem;
}

.deleteBtn {
  width: 2rem;
  height: 2rem;
  flex: none;
  border: 1px solid red;
  background-color: rgb(255, 70, 70);
  border-radius: 100px;
  cursor: pointer;
  color: white;
}
.deleteBtn:hover {
  background-color: rgb(160, 0, 0);
  transition-duration: 200ms;
}
